{{!-- Add Weight Stats --}}
<div class="modal fade" id="add-weight" tabindex="-1" role="dialog" aria-labelledby="add-weight">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Input your new weight to add to your chart!</h4>
      </div>
      <div class="modal-body">
        What is your current weight? <input type="text" name="weight-chart-input" id="weight-chart-input">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submit-weight-btn">Submit Weight</button>
      </div>
    </div>
  </div>
</div>