{{!-- Remove Buddy Modal --}}
<div class="modal fade" id="remove-buddy-modal" tabindex="-1" role="dialog" aria-labelledby="remove-buddy-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove Buddy From List</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  id="remove-buddy-confirm">Remove</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Keep Friend</button>
      </div>
    </div>
  </div>
</div>