<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Pal</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" class="head-title">Fitness Pal</a>
      </h1>
      <nav class="options">
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard" class ="dash">Dashboard</a>
        <a href="/workout" class ="dash">Daily Workout</a>
        <a href="/exercise" class ="dash">Search For Exercise</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        <a href="/sign-up">Sign Up</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>