<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Pal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" class="head-title"><i class="fas fa-dumbbell"></i> Fitness Pal <i class="fas fa-running"></i></a>
      </h1>
      <nav class="options">
        <a href="/" class="nav-link">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard" class="dash nav-link">Dashboard</a>
        <a href="/dashboard/generateworkout" class="dash nav-link">Daily Workout</a>
        <a href="/exercise-search" class="dash nav-link">Exercise Search</a>
        <a href="/dashboard/personal-exercise" class="dash nav-link">Personal Exercises</a>
        <button id="logout" class="btn-no-style nav-link">Logout</button>
        {{else}}
        <a href="/login" class="dash nav-link">Login</a>
        <a href="/signup" class="dash nav-link"><i class="fas fa-user-plus"></i> Sign Up</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Get Moving!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}


</body>

</html>