<form class = "user-info-form">
    <div class="info-statement">
        <p>Fill out some information to create your profile!</p>
    </div>
    <div class="height">
        <p>What is your height? <input type="text" class="height-feet" id="height-feet"> Feet <input type="text" id="height-inches" class="height-inches"> Inches</p>
    </div>
    <div id="level-list" class="dropdown-check-list" tabindex="100">
        <span class="anchor">What is your current fitness level?</span>
        <ul class="items">
            <li><input id="beginner-level" name="[answers][]" type="radio" value="Beginner"/><label for="beginner-level">Beginner</label></li>
            <li><input id="intermediate-level" name="[answers][]" type="radio" value="Ieginner"/><label for="intermediate-level">Intermediate</label></li>
            <li><input id="advanced-level" name="[answers][]" type="radio" value="Advanced"/><label for="advanced-level">Advanced</label></li>
        </ul>
    </div>
    <div id="goal-list" class="dropdown-check-list" tabindex="100">
        <span class="anchor">What are your goals?</span>
        <ul class="items">
            <li><input id="lose-weight" name="[answers][]" type="checkbox" value="Lose Weight"/><label for="lose-weight">Lose Weight</label></li>
            <li><input id="improve-strength" name="[answers][]" type="checkbox" value="Improve Strength"/><label for="improve-strength">Improve Strength</label></li>
            <li><input id="consistency" name="[answers][]" type="checkbox" value="Consistenct"/><label for="consistency">Consistency</label></li>
            <li><input id="get-in-shape" name="[answers][]" type="checkbox" value="Get In Shape"/><label for="get-in-shape">Get In Shape</label></li>
            <li><input id="feel-healthier" name="[answers][]" type="checkbox" value="Feel Healthier"/><label for="feel-healthier">Feel Healthier</label></li>
        </ul>
    </div>
</form>

<script src="/javascript/createUserProfile.js"></script>