<div class="create-exercise-jumbotron">
    <div class="create-profile-jumbotron">
        <form class="create-exercise-form">
            <div id="exercise-name" class="exercise-name">
                What is the name of the exercise? <input type="text" name="exercise-name"class="exercise-name-input">
            </div>
            <div id="gym-list" class="dropdown-check-list" tabindex="100">
                <span class="anchor">Is this exercise done in a gym?</span>
                <ul class="items">
                    <li><input id="gym-no-gym gym" name="gym-no-gym" type="radio" value="gym"/><label for="#gym">Gym</label></li>
                    <li><input id="gym-no-gym no-gym" name="gym-no-gym" type="radio" value="no_gym"/><label for="#no-gym">No gym</label></li>
                </ul>
            </div>
            <div id="body-list" class="dropdown-check-list" tabindex="100">
                <span class="anchor">Is this exercise for the upper or lower body?</span>
                <ul class="items">
                    <li><input id="upper-lower" name="upper-lower-body" type="radio" value="upper"/><label for="upper-lower-body">Upper Body</label></li>
                    <li><input id="lower-lower" name="upper-lower-body" type="radio" value="lower"/><label for="upper-lower-body">Lower Body</label></li>
                </ul>
            </div>
            <div id="exercise-level-list" class="dropdown-check-list" tabindex="100">
                <span class="anchor">What level of exercise is this?</span>
                <ul class="items">
                    <li><input id="fitness-level" name="levels" type="radio" value="beginner"/><label for="levels">Beginner</label></li>
                    <li><input id="fitness-level" name="levels" type="radio" value="intermediate"/><label for="levels">Intermediate</label></li>
                    <li><input id="fitness-level" name="levels" type="radio" value="advanced"/><label for="levels">Advanced</label></li>
                </ul>
            </div>
            <div class="exercise-instructions">
                What are the instructions for this exercise?
                <div>
                    <textarea name="exercise-instructions" id="exercise-instruction-input" class="exercise-name-input" cols="30" rows="4"></textarea>
                </div>
            </div>
            <button type="submit" class="create-exercise-btn">Create Exercise!</button>
            <a href="/dashboard" class="cancel-btn">Cancel</a>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="/javascript/add-exercise.js"></script>