<div class="dashboard-jumbotron">
    <div class="dashboard-wrapper">
        <aside class="user-infor">
            <h2 class="username">
                acenteno
            </h2>
            <div class="goals">
                <ul class="goals-list">
                    <li>Lose Weight</li>
                    <li>Consistency</li>
                </ul>
            </div>
            <div class="date-joined">
                <span>Joined: Oct. 13th, 2020</span>
            </div>
            <a href="/dashboard/profile">Edit Profile</a>
        </aside>

        <aside class="buddy-list">

        </aside>
    </div>
</div>