<div class="dashboard-jumbotron">
    <div class="dashboard-wrapper">
        <div class="asides">
            <aside class="user-infor">
                <h2 class="username">
                    {{username}}
                </h2>
                <div class="goals">
                    <ul class="goals-list">
                        {{#each goals as |goal|}}
                        <li>{{goal}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="date-joined">
                    <span>Joined: {{format_date joinDate}}</span>
                </div>
                <a href="/dashboard/profile/{{user_id}}">Edit Profile</a>
            </aside>

            <aside class="buddies">
                <h2 class="buddy-header">Buddy List</h2>
                <ul class="buddy-list">
                    <li>Jane <button id="remove-buddy" type="submit"><i class="fas fa-user-times"></i></button></li>
                    <li>Madison <button id="remove-buddy" type="submit"><i class="fas fa-user-times"></i></li>
                    <li>Shipria <button id="remove-buddy" type="submit"><i class="fas fa-user-times"></i></li>
                    <li>Leticia <button id="remove-buddy" type="submit"><i class="fas fa-user-times"></i></li>
                    <li>Andreq <button id="remove-buddy" type="submit"><i class="fas fa-user-times"></i></li>
                    <li>Jayson <button id="remove-buddy" type="submit"><i class="fas fa-user-times"></i></li>
                </ul>
            </aside>
        </div>

        <div class="suggested-exercise">
            <h1>Try This Exercise!</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Nobis molestias officia reprehenderit consequatur voluptatum 
                exercitationem, architecto, adipisci ex debitis consectetur 
                tenetur impedit nulla hic distinctio corrupti expedita sed 
                eveniet sunt?
            </p>
        </div>

        <div id="chart-container" class="stats-chart">
            <canvas id="myChart">
                
            </canvas>
        </div>

        {{!-- {{#if workouts.length }} --}}
        <section class="completed-workouts">
            <div class="completed-title">
                <p>Your Completed Workouts</p>
            </div>
            <ol>
                {{!-- {{#each workoouts as |workout|}} --}}
                <li class="completed-workout">
                    {{!-- {{> workout-info workout}} --}}
                </li>
                {{!-- {{/each}} --}}
            </ol>
        </section>
        {{!-- {{/if}} --}}
    </div>  
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascript/dashboard.js"></script>
