<form class="user-info-form">
    <div class="anchor">
        <p>What is your new email?
            <input type="email" class="email" id="email" value="">
        </p>
    </div>
    <div class="anchor">
        <p>What is your new password?
            <input type="password" class="password" id="password" value="">
        </p>
    </div>
    <div class="anchor">
        <p>Would you like to delete your account?</p>
        <button type="submit" class="submit-btn">Delete profile!</button>
    </div>
</form>