{{!-- 
- input of number of exercises to be generated
- pull-down/checkbox of level of workout (beginner, intermediate, advanced)
- pull-down/checkbox of gym vs no gym option
- pull-down/checkbox of upper body vs lower body
- pull-down/checkbox to select # of user-created exercises to include
- generate button (?) to pull remainder of exercises from database
Include CSS classes for styling at a later time 
--}}




<div class="generate-workout-jumbotron">
    <div class="exercise_list">
        <form class="generate-workout-form">
            <div class="dropdown-check-list" tabindex="100">
                <label class="dropbtn">How many exercises would you like to be generated for this workout?</label>
                <select id="numbOfEx" class="dropdown-content">
                    <option id="one">1</option>
                    <option id="two">2</option>
                    <option id="three">3</option>
                    <option id="four">4</option>
                    <option id="five">5</option>
                    {{!-- <option id="six">6</option>
                    <option id="seven">7</option>
                    <option id="eight">8</option>
                    <option id="nine">9</option>
                    <option id="ten">10</option> --}}
                </select>
            </div>
            <div  class="dropdown-check-list" tabindex="100">
                <label class="dropbtn">What level of workout is this?</label>
                <select id="level-list" class="items">
                    <option id="levels" name="typeOfLevel" value="beginner" for="beginner">Beginner</option>
                    <option id="levelsOne" name="typeOfLevel" value="intermediate" for="intermediate">Intermediate</option>
                    <option id="levels" name="typeOfLevel" value="advanced" for="advanced">Advanced</option>
                    <option id="levels" name="typeOfLevel" value ="">Any</option>
                </select>
            </div>
            <div  class="dropdown-check-list" tabindex="100">
                <label class="dropbtn">Is this workout done inside a gym or at home?</label>
                <select id="gym-list" class="items">
                    <option id="gym" name="gym-no-gym" value="gym"for="gym">Gym</option>
                    <option id="no-gym" name="gym-no-gym" value="no_gym" for="no-gym">At home</option>
                    <option id="no-gym" name="gym-no-gym" for="no-gym" value="">Any</option>
                </select>
            </div>
            <div  class="dropdown-check-list" tabindex="100">
                <label class="dropbtn">Is this workout for the upper or the lower body?</label>
                <select id="body-list" class="items">
                    <option id="upper" name="upper-lower" value="upper" for="upper">Upper Body</option>
                    <option id="lower" name="upper-lower" value="lower" for="lower">Lower Body</option>
                    <option id="any" name="upper-lower" value ="">Any</option>
                </select>
            </div>
            {{!-- Optional way of generating the exercises for workout
            <div id="pullExercises" class="">
            <form action="/" target="_blank" method="get">
                    <script>
                        <button type="button" id="btn_load" onClick="btn_load_Click();" >Get premade exercises</button>
                            <div id="premadeExercises">
                                <div><input id="exercise1" type="text" value=""/></div>
                                <div><input id="exercise2" type="text" value=""/></div>
                                <div><input id="exercise3" type="text" value=""/></div>
                                <div><input id="exercise4" type="text" value=""/></div>
                            </div>
                    </script>
                </form>
            </div> --}}
            <button type="submit"  class="generate-workout-btn">Generate Workout!</button>
            <a href="/dashboard" class="cancel-btn">Cancel</a>
        </form>
    </div>
    <div class="generated-workout hide" id="generated-workout">
        
    </div>
</div>


