<div class="homepage-jumbotron" alt="A man in workout gear is lifting weights at the gym.">
    <form class="homepage">
        <a href="/signup" class="nav-link homepage-signup-btn"><i class="fas fa-user-plus"></i> Sign Up Now!</a>

        <div class="homepage-text">
            <p class="fitness-pal-description">
                Finding workouts to follow can waste 
                valuable time that can be used to exercise! 
                Fitness pal helps users generate workouts based 
                on the body part they want to workout and 
                their fitness level. Fitness pal also lets 
                users input their own exercise and then select that
                inputted exercise they generate a workout! </p>
        </div>

        <div class="flex-row">
            <div class="section-title">
                <h1>
                    Sample Exercises!
                </h1>
            </div>
            <div class="workout-grid-wrapper">
                <div class="workout-grid-container">
                    <div class="workout-1">
                        <span class="exercise-title">Lunges-Jump</span>
                        Starting at the lowered position of a standard lunge, engage your core then drive both feet into the floor to jump into the air and switch positions. Land softly on your feet and continue down to the lowered lunge position. Repeat the motion.
                    </div>
                    <div class="workout-3">
                        <span class="exercise-title">Leg Extension</span>
                         Position your body on a leg extension machine with the pad just above your ankles. Lift the weight until your legs are almost straight, pause, then lower the weight back to the starting position. Complete 3 sets of 10 repeitions.
                    </div>
                    <div class="workout-2">
                        <span class="exercise-title">Push Ups - Inverted</span>
                        Start with your feet on a flat, raised surface, your hands just to the sides of your shoulders, and your arms straight. With your back in a straight line, engage your glutes and core, and lower your body until your chest is nearly touching the floor. Pause for a moment then push your body up to the starting position. Complete 3x 10 repetitions.
                    </div>
                </div>
            </div>
        </div>
        {{!-- credit for photo used --}}
        <a href='https://www.freepik.com/photos/sport' class="homepage-photo-credit">Sport photo created by senivpetro - www.freepik.com</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
