<div class="homepage-jumbotron" alt="A man in workout gear is lifting weights at the gym.">
    <form class="homepage">
        <a href="/signup" class="nav-link homepage-signup-btn"><i class="fas fa-user-plus"></i> Sign Up Now!</a>

        <div class="homepage-text">
            <p class="fitness-pal-description">
                Finding workouts to follow can waste 
                valuable time that can be used to exercise! 
                Fitness pal helps users generate workouts based 
                on the body part they want to workout and 
                their fitness level. Fitness pal also lets 
                users input their own exercise and then select that
                inputted exercise they generate a workout! </p>
        </div>

        <div class="flex-row">
            <div class="section-title">
                <h1>
                    Sample Workouts!
                </h1>
            </div>
            <div class="workout-grid-wrapper">
                <div class="workout-grid-container">
                    <div class="workout-1">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam eum fugiat dolore, exercitationem quis est hic assumenda voluptate pariatur? Placeat exercitationem aspernatur in similique quos repellendus quo asperiores hic dolores.
                    </div>
                    <div class="workout-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In non omnis praesentium error dolore, voluptates deleniti aliquam neque velit. Asperiores voluptas perferendis ipsam tempora quia blanditiis earum facilis illum cumque!
                    </div>
                    <div class="workout-2">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus culpa, atque dolorum nobis illo eius dignissimos ducimus, recusandae laborum corrupti id voluptatum deleniti possimus corporis voluptates porro odit nostrum. Minima?
                    </div>
                </div>
            </div>
        </div>
        {{!-- credit for photo used --}}
        <a href='https://www.freepik.com/photos/sport' class="homepage-photo-credit">Sport photo created by senivpetro - www.freepik.com</a>
    </form>
</div>
