<form class="signup-form">
    <div>
        <p class="hide" id="taken">That e-mail already has an account! Try Logging in.</p>
        <label for="email-signup">E-Mail:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <p class="hide" id="taken">That username is already taken! Try again.</p>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
    <div>
        <a href="/login">Login Instead</a>
    </div>
</form>
<script src="/javascript/sign-up.js"></script>