* {
    box-sizing: border-box;
}

/* Color Palette */
:root {
    --gray: #adadad; /*rgba(173, 173, 173, 1)*/
    --neon-blue: #36bdcf /* rgba(54, 189, 207, 1)*/;
    --neon-pink: #ff62d0; /*rgba(255, 98, 208, 1)*/
    --neon-green: #c7f856; /*rgba(199, 248, 86, 1)*/
    --neon-red: #fd465f;/*rgb(253, 70, 95)*/
    --black: #000000; /*rgba(0, 0, 0, 1)*/
    --white: #ffffff; /* rgba(255, 255, 255, 1) */
}

body {
    font-family: 'Russo One', sans-serif, cursive;
    font-weight: bold;
}

/* Main Layout Styling */
header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background: var(--gray);
    background: linear-gradient(90deg, var(--neon-blue) 0%, var(--gray) 50%, var(--black) 100%);
}

.modal {
}

.modal-header {
    background: var(--gray);
    background: linear-gradient(90deg, var(--neon-blue) 0%, var(--gray) 50%, var(--neon-green) 100%);
    font-size: 28px;
}

.options {
    font-size: 1.4vw;
    padding-top: 10px;
    display: flex;
}

.head-title {
    display: flex;
    margin-right: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, .7);
    align-items: center;
    border-radius: 15px;
    font-size: 4vw;
    width: 100%;
    box-shadow: 10px 5px 10px var(--gray);
    text-decoration: none;
    color: var(--neon-blue);
    font-family: 'Russo One', sans-serif;
}

.nav-link {
    margin-right: 20px;
    padding: 5px;
    background-color: var(--black);
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    color: var(--neon-blue);
    font-weight: bold;
    box-shadow: 2px 2px 10px var(--neon-blue);
}

.btn-no-style {
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Russo One',sans-serif, cursive;
    font-weight: bold;
    transition: color .1s;
}

.btn-no-style:focus {
    outline: none;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.nav-link:hover,
.head-title:hover {
    color: var(--neon-pink);
    box-shadow: 2px 2px 10px var(--neon-pink);
    transition: .5s;
    text-decoration: none;
}

.nav-link:active,
.head-title:active {
    color: var(--neon-blue);
    box-shadow: 2px 2px 10px var(--neon-blue);
    transition: .3s;
}

footer {
    height: 10vh;
    background: var(--gray);
    background: linear-gradient(90deg, var(--neon-blue) 0%, var(--gray) 50%, var(--black) 100%); 
    padding-left: 40vw;
    font-size: 3vw;
}

/* Home page styling */

.homepage-jumbotron {
    background-size: cover;
    background-image:linear-gradient(150deg, rgba(54, 189, 207, .4) 0%, rgba(173, 173, 173, .6) 50%, rgba(255, 98, 208, .4) 100%), url("../imgs/strong-man-training-gym.jpg") ;
    height: 100vh;
}

.homepage-signup-btn {
    font-size: 3.8vw;
    float: right;
    margin-right: 100px;
    margin-top: 100px;
    width: 18vw;
    padding-left: 20px;
}

.homepage-photo-credit {
    width: 100vw;
    float: right;
    text-decoration: none;
    color: var(--neon-blue);
    margin-top: 68px;
    font-size: 10px;
    display: none;
}

.homepage-text {
    float: left;
    margin-top: 100px;
    width: 30vw;
    margin-left: 50px;
    border-radius: 15px;
    border: 5px inset var(--neon-blue);
    background: rgba(0, 0, 0, .4);
    box-shadow: 10px 10px 40px var(--neon-blue);
    padding: 0 20px 0 20px;
}

.fitness-pal-description {
    font-size: 1vw;
    color: var(--white);
}

.flex-row {
    display: flex;
    float: left;
    margin-top: 100px;
}

.section-title {
    font-size: 1vw;
    color: var(--neon-green);
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    margin-right: 80px;
    margin-left: 50px;
    width: 25%;
    border-radius: 15px;
    border: 5px inset var(--neon-green);
    background: rgba(0, 0, 0, .4);
    box-shadow: 10px 10px 40px var(--neon-green);
    padding: 0 20px 0 20px;
}

.workout-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    align-items: center;
    margin-bottom: 40px;
    width: 90%;
}

.workout-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    color: var(--neon-green);
    height: fit-content;
    grid-gap: 4%;

}

.workout-1,
.workout-2,
.workout-3 {
    font-size: 1vw;
    border-radius: 15px;
    border: 5px inset var(--neon-green);
    background: rgba(0, 0, 0, .4);
    box-shadow: 10px 10px 40px var(--neon-green);
    padding: 20px 20px 0 20px;
}

/* Sign-Up/Login Styling */
.signup-wrapper,
.login-wrapper,
.personalExercise-wrapper {
    background: var(--gray);
    background-image: linear-gradient(150deg, rgba(54, 189, 207, .6) 0%, rgba(173, 173, 173, .8) 50%, rgba(199, 248, 86, .6) 100%), url("../imgs/wall_background02.jpg");
    height: 90vh;
    background-position: 80%;
}

.signup-innerWrapper,
.login-innerWrapper,
.personalExercise-innerWrapper {
    padding-top: 100px;
    position: relative;
}

.signup-form,
.login-form {
    margin: 0 auto;
    width: fit-content;
    padding: 40px;
    border-radius: 15px;
    border: 5px inset var(--neon-blue);
    background: rgba(0, 0, 0, .4);
    box-shadow: 10px 10px 40px var(--neon-blue);
}

.hide {
    display: none !important;
}

#email-signup,
#username-signup,
.password-input,
#password-login,
#username-login {
    background-color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    padding: .5%;
    border-radius: 5px;
    border: 1px solid var(--neon-blue);
    color: var(--white);
    font-size: 20px;
    width: 300px;
    margin-bottom: 15px;
}

#email-signup:focus,
#username-signup:focus,
.password-input:focus {
    outline: none;
    border: 1px solid var(--neon-pink);
} 

.email-label,
.username-label,
.password-label,
#taken-username,
#taken-email,
#not-found {
    display: block;
    font-size: 1.5em;
    color: var(--neon-blue);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border: 1px solid var(--neon-blue);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    background: var(--black);
}

#taken-username,
#taken-email {
    width: 300px;
}

.password-input {
    color: var(--white);
}

.signup-btn,
.login-btn {
    background-color: var(--neon-blue);
    border: 0;
    padding: 1%;
    color: var(--black);
    font-weight: bold;
    font-size: 20px;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0 40px 100px;
    font-family: 'Russo One', sans-serif, cursive;
}

.login-btn {
    font-size: 25px;
    padding: 10px;
    width: 5vw;
}

.signup-btn:hover,
.login-btn:hover {
    background-color: var(--neon-green);
    transition: .3s;
}

.signup-btn:active,
.login-btn:active {
    outline: none;
    background-color: var(--neon-blue);
}

.login-link,
.signup-link {
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--neon-blue);
    background-color: var(--black);
    color: var(--neon-blue);
    font-weight: bold;
    transition: color .1s;
    margin: 0 0 0 90px;
}

.signup-link {
    margin: 0 0 0 75px;
}

.login-link:hover,
.signup-link:hover {
    color: var(--neon-green);
    border: 1px solid var(--neon-green);
}

.login-link:active,
.signup-link:active {
    color: var(--neon-blue);
}

/* Create User Profile Styling */
/* Search Exercise Styling */
.exercise-search-form,
.user-info-form, 
.create-exercise-form {
    font-size: 24px;
    text-align: -webkit-center;
    display: grid;
    margin: 0 auto;
    padding-top: 500px;
    width: fit-content;
    padding: 40px;
    border-radius: 15px;
    border: 5px inset var(--neon-blue);
    background: rgba(0, 0, 0, .4);
    box-shadow: 10px 10px 40px var(--neon-blue);
    color: var(--neon-green);
}

.exercise-search-form {
    font-size: 3.4vw;
}

.dropdown-check-list:focus{
    outline:0;
}
.dropdown-check-list .anchor {
    width: 100%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;
    border:1px #ccc solid;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}
.dropdown-check-list ul.items li {
    list-style: none;
}
.dropdown-check-list.visible .anchor {
    color: #0094ff;
}
.dropdown-check-list.visible .items {
    display: block;
}

.submit-btn {
    width: fit-content;
    height: 30px;
}

/* Create/Edit Profile Styling and */
/* Create/Edit Exercise styling */
/* Search Exercise styling */
.exercise-search-wrapper,
.edit-profile-jumbotron,
.create-profile-wrapper,
.create-exercise-jumbotron,
.generate-workout-jumbotron,
.generate-workout-form,
.create-exercise-wrapper,
.dashboard-jumbotron {
    background-size: cover;
    background-image:linear-gradient(150deg, rgba(54, 189, 207, .4) 0%, rgba(173, 173, 173, .6) 50%, rgba(199, 248, 86, .4) 100%), url("../imgs/gym.jpg") ;
    height: max-content;
}

.exercise-search-wrapper,
.edit-profile-wrapper,
.create-profile-wrapper,
.create-exercise-jumbotron,
.create-exercose-wrapper,
.generate-workout-jumbotron,
.generate-workout-form {
    padding-top: 100px;
}

.height-feet,
.height-inches,
.weight-input {
    width: 3em;
    background-color: var(--black);
    color: white;
}

#gym-no-gym-list,
#upper-lower-list,
#fitness-level-list,
#goal-list,
#level-list {
    padding-bottom: 40px;
}

.search-exercises-btn,
.update-btn,
.cancel-btn,
.create-profile-btn,
.create-exercise-btn,
.generate-workout-btn {
    border: 2px var(--neon-blue) solid;
    border-radius: 15px;
    cursor: pointer;
    font-size: 34px;
    font-family: 'Russo One',sans-serif, cursive;
    transition: .4s;
    color: var(--neon-blue);
    background-color: black;
    width: fit-content;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 5px;
}

.update-btn:hover,
.cancel-btn:hover,
.create-profile-btn:hover,
.create-exercise-btn:hover {
    border: 2px var(--neon-green) solid;
    border-radius: 15px;
    color: var(--neon-green);
}

.update-btn:focus,
.cancel-btn:focus,
.create-profile-btn:focus {
    outline: none;
}

.cancel-btn {
    margin: 0 auto;
}

/*Create/Edit Exercise styling*/


/* Dashboard Styling */
.dashboard-wrapper {
    height: fit-content;
    width: 99vw;
    display: inline-block;
}

.asides {
    margin-top: 80px;
    width: fit-content;
    float: left;
    display: block;
}

.buddies {
    margin-top: 80px;
}

.stats-chart {
    height: 60vh;
    width: 45vw;
    float: right;
    margin-right: 125px;
    margin-top: 80px;
    border-radius: 15px;
    border: 5px inset var(--neon-green);
    background: rgba(0, 0, 0, .8);
    box-shadow: 10px 10px 40px var(--neon-green);
    padding: 20px;
}

.suggested-exercise {
    color: var(--neon-blue);
    margin-right: 50px;
    margin-top: 80px;
    float: right;
    width: 400px;
    border-radius: 15px;
    border: 5px inset var(--neon-green);
    background: rgba(0, 0, 0, .8);
    box-shadow: 10px 10px 40px var(--neon-green);
    padding: 20px;
}

.completed-workouts {
    display: inline-block;
    margin-left: 70px;
    height: 400px;
    color: var(--neon-blue);
    border: 5px inset var(--neon-green);
    border-radius:  15px;
    box-shadow: 10px 10px 40px var(--neon-green);
    background: rgba(0, 0, 0, .8);
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 20px;
    width: 45vw;
    overflow: hidden;
    overflow-y: scroll;
}

.user-info,
.buddies {
    color: var(--neon-blue);
    margin-left: 50px;
    border-radius: 15px;
    border: 5px inset var(--neon-green);
    background: rgba(0, 0, 0, .8);
    box-shadow: 10px 10px 40px var(--neon-green);
}

.user-info {
    padding: 0px 80px 30px; 
}

.buddies {
    padding: 0px 20px 20px 20px; 
}

.username {
    padding-left: 20px;
    font-size: 30px;
}

.goals-list {
    padding-left: 20px;
}

.edit-profile-link {
    padding-top: 20px;
}

.edit-profile-link a {
    text-decoration: none;
    color: var(--black);
    background-color: var(--neon-blue);
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    transition: .4s;
}

.edit-profile-link a:hover {
    background-color: var(--neon-green);
    -webkit-text-stroke-color: var(--neon-green);
}

.buddies {
    height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
}

.add-buddy-btn,
.add-weight,
.remove-weight-btn,
.create-exercise-link,
.edit-exercise-link
{
    color: var(--neon-blue);
    background-color: black;
    border: 2px solid var(--neon-blue);
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Russo One',sans-serif, cursive;
    transition: .4s;
}

.add-buddy-btn:hover,
.add-weight:hover,
.create-exercise-link:hover,
.edit-exercise-link:hover {
    border: 2px solid var(--neon-green);
    -webkit-text-stroke-color: var(--neon-green);
    color: var(--neon-green);
}

.add-buddy-input {
    margin-bottom: 20px;
    background-color: black;
    outline: var(--neon-blue);
    color: white;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-radius: 5px;
    border: 1px solid var(--neon-blue);
    font-size: 18px;
    margin-bottom: 15px;
}

.add-buddy-input:focus {
    outline: none;
    background-color: black;
    outline: var(--neon-blue);
    caret-color: var(--neon-blue);
}

.buddy-header {
    margin-left: 80px;
    text-decoration: underline var(--neon-blue) ;
}

.buddy-list {
    list-style: none;
    font-size: 20px;
    display: contents;
}

.buddy-list li {
    padding: 10px 0 10px 0;
    display: block;
    width: auto;
}

.buddy-list button {
    top: 0;
    right: 0;
    display: inline-block;
}

#remove-buddy {
    float: right;
    font-size: 16px;
    color: var(--neon-blue);
    background-color: black;
    border: 2px solid var(--neon-blue);
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Russo One',sans-serif, cursive;
    transition: .4s;
}

#remove-buddy:hover {
    color: var(--neon-red);
    border: 2px solid var(--neon-red);
}

#remove-buddy:focus,
.add-buddy-btn:focus,
.add-weight:focus {
    outline: none;
}


/*Generate workout styling*/
.generate-workout-form {
    margin: 0 auto;
    width: fit-content;
    padding: 40px;
    border-radius: 15px;
    border: 5px inset var(--neon-blue);
    background: rgba(0, 0, 0, .4);
    box-shadow: 10px 10px 40px var(--neon-blue);
}

.found-user {
    font-size: 40px;
    padding-left: 20px;
}

/* Personal Exercise Page Styling */

.create-exercise-link {
    font-size: 30px;
    margin-left:700px;
}

.editLink-container {
    margin-top: 10px;
}

.personal-exercises-list {
    margin-left: 20%;
    margin-top: 50px;
    height: 500px;
    /* border: 3px black solid; */
    /* border-radius: 15px; */
    width: fit-content;
    padding: 30px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    
}

.created-personal-exercise {
    font-size: 20px;
    color: var(--neon-blue);
    width: 30vw;
    border-radius: 15px;
    border: 5px inset var(--neon-green);
    background: rgba(0, 0, 0, .4);
    box-shadow: 10px 10px 20px var(--neon-pink);
    padding: 20px;
    margin-top: 50px;
}



/* Media Queries */

    /* extra large devices */
@media only screen and (max-width: 1200px) {

    /* Homepage Styling Start */

    .options {
        padding-left: 16px;
    }

    .flex-row {
        flex-direction: column;
    }

    .homepage-signup-btn {
        width: 25vw;
        font-size: 5vw;
        margin-right: 157px;
    }

    .homepage-text {
        font-size: inherit;
        width: 36vw;
        margin-left: 94px;
    }

    .fitness-pal-description {
        font-size: 1.4vw;
    }

    .section-title {
        font-size: inherit;
        margin-left: 27%;
        width: 78%;
    }

    .workout-grid-container {
        grid-gap: 25%;
        padding-left: 21%;
        width: 52%;
    }

    .workout-1, 
    .workout-2, 
    .workout-3 {
        font-size: large;
        flex-wrap: wrap;
    }
    /* Homepage Styling End */

    /* Login Styling Start */
    .login-btn {
        width: 11vw;
        margin-left: 87px;
    }
    /* Login Styling End */

    /* Signup Styling Start */
    .signup-innerWrapper {
        padding-top: 1px;
    }

    .signup-form {
        margin: 49px auto;
    }

    .signup-btn {
        margin: 0 0 40px 93px;
    }
    /* Signup Styling End */


    /* Dashboard Styling Start */
    .user-info {
        padding: 3px 142px 32px;
        margin-left: 100px;
    }

    .buddies {
        margin-left: 100px;
        height: auto;
    }

    .buddy-header {
        margin-left: 116px;
        font-size: 25px;
    }

    .suggested-exercise {
        margin-right: 110px;
        padding-bottom: 38px;
    }

    .stats-chart {
        margin-right: 48px;
        height: auto;
    }

    .completed-workouts {
        width: 63vw;
        margin-left: 221px;
    }
    /* Dashboard Styling End */


    /* Exercise Search Styling Start */
    .search-exercises-btn,
    .cancel-btn {
        font-size: 3.3vw;
    }

    .search-exercises-btn {
        width: 21%;
        margin: auto auto 15px auto;
    }

    .exercise-search-wrapper {
        padding-top: 73px;
        padding-bottom: 73px;
    }

    .exercise-search-form {
        padding: 28px;
    }
    /* Exercise Search Styling End */


    /* Create Exercise Styling Start */
    .create-exercise-link {
        margin-left: 35%;
    }

    .personal-exercises-list {
        margin-left: 0;
        margin-top: 0;
        height: auto;
        padding-top: 10px;
    }

    .created-personal-exercise {
        margin-top: 28px;
        margin-left: 254px;
        width: 55%;
    }

    .personalExercise-innerWrapper {
        padding-top: 44px;
    }
    /* Create Exercise Styling End */
}


    /* large devices */
@media only screen and (max-width: 992px) {

    /* Homepage Styling Start */
    .options {
        float: none;
        width: 56%;
        font-size: large;
        padding-top: 0;
        padding-left: 18px;
        padding-bottom: 10px;
        flex-wrap: wrap;
    }

    .homepage-signup-btn {
        width: 31vw;
        font-size: 6.1vw;
        margin-right: 117px;
    }

    .homepage-text {
        font-size: inherit;
        width: 36vw;
        margin-left: 94px;
    }

    .fitness-pal-description {
        font-size: 1.4vw;
    }

    .section-title {
        font-size: inherit;
        margin-left: 17%;
        width: 78%;
    }

    .workout-grid-container {
        grid-template-columns: 25vw 25vw 25vw;
        grid-gap: 12%;
        padding-left: 9%;
    }

    .workout-1, 
    .workout-2, 
    .workout-3 {
        font-size: medium;
        flex-wrap: wrap;
    }
    /* Homepage Styling End */


    /* Login Styling Start */
    .login-btn {
        width: 13vw;
        margin-left: 87px;
    }
    /* Login Styling End */


    /* Signup Styling Start */
    .signup-innerWrapper {
        padding-top: 1px;
    }

    .signup-form {
        margin: 49px auto;
    }

    .signup-btn {
        margin: 0 0 40px 93px;
    }
    /* Signup Styling End */


    /* Dashboard Styling Start */
    .user-info {
        padding: 3px 142px 32px;
    }

    .buddies {
        height: auto;
    }

    .buddy-header {
        margin-left: 116px;
        font-size: 25px;
    }

    .suggested-exercise {
        margin-right: 36px;
        padding-bottom: 38px;
    }

    .stats-chart {
        width: 86vw;
        margin-right: 58px;
        height: auto;
    }

    .completed-workouts {
        width: 67vw;
        margin-left: 161px;
    }
    /* Dashboard Styling End */


    /* Exercise Search Styling Start */
    .search-exercises-btn,
    .cancel-btn {
        font-size: 3.5vw;
    }

    .search-exercises-btn {
        width: 28%;
        margin: auto auto 15px auto;
    }

    .exercise-search-wrapper {
        padding-top: 73px;
        padding-bottom: 73px;
    }

    .exercise-search-form {
        padding: 28px;
    }
    /* Exercise Search Styling End */


    /* Create Exercise Styling Start */
    .create-exercise-link {
        margin-left: 34%;
    }

    .personal-exercises-list {
        margin-left: 0;
        margin-top: 0;
        height: auto;
        padding-top: 10px;
    }

    .created-personal-exercise {
        margin-top: 28px;
        margin-left: 206px;
        width: 55%;
    }

    .personalExercise-innerWrapper {
        padding-top: 44px;
    }
    /* Create Exercise Styling End */
}


    /* medium devices */
@media only screen and (max-width: 768px) {

    /* Homepage Styling Start */
    .options {
        float: none;
        width: 56%;
        font-size: inherit;
        padding-top: 0;
        padding-left: 18px;
        padding-bottom: 10px;
        flex-wrap: wrap;
    }

    .homepage-text {
        font-size: inherit;
        width: 36vw;
    }

    .fitness-pal-description {
        font-size: 2vw;
    }

    .homepage-signup-btn {
        width: 34vw;
        font-size: 6.8vw;
        margin-right: 70px;
    }

    .flex-row {
        flex: 100%;
        max-width: 100%;
    }

    .section-title {
        font-size: inherit;
        margin-left: 17%;
        width: 78%;
    }

    .workout-grid-container {
        grid-template-columns: 25vw 25vw 25vw;
        grid-gap: 8%;
    }

    .workout-1, 
    .workout-2, 
    .workout-3 {
        font-size: small;
        flex-wrap: wrap;
    }

    footer {
        font-size: x-large;
    }
    /* Homepage Styling End */


    /* Login Styling Start */
    .login-btn {
        width: 17vw;
        margin-left: 83px;
    }
    /* Login Styling End */


    /* Signup Styling Start */
    .signup-innerWrapper {
        padding-top: 1px;
    }

    .signup-form {
        margin: 49px auto;
    }

    .signup-btn {
        margin: 0 0 40px 93px;
    }
    /* Signup Styling End */


    /* Dashboard Styling Start */
    .user-info {
        padding: 3px 142px 32px;
        margin-left: 165px;
    }

    .buddies {
        height: 40vh;
        margin-left: 165px;
        height: auto;
    }

    .buddy-header {
        margin-left: 116px;
        font-size: 25px;
    }

    .suggested-exercise {
        margin-right: 182px;
        padding-bottom: 38px;
    }

    .stats-chart {
        width: 86vw;
        margin-right: 45px;
        height: auto;
    }

    .completed-workouts {
        width: 76vw;
        margin-left: 93px;
    }
    /* Dashboard Styling End */


    /* Exercise Search Styling Start */
    .search-exercises-btn,
    .cancel-btn {
        font-size: 4vw;
    }

    .search-exercises-btn {
        width: 28%;
        margin: auto auto 15px auto;
    }

    .exercise-search-wrapper {
        padding-top: 73px;
        padding-bottom: 73px;
    }

    .exercise-search-form {
        padding: 28px;
    }
    /* Exercise Search Styling End */


    /* Create Exercise Styling Start */
    .create-exercise-link {
        margin-left: 29%;
    }

    .personal-exercises-list {
        margin-left: 0;
        margin-top: 0;
        height: auto;
        padding-top: 10px;
    }

    .created-personal-exercise {
        width: auto;
        margin-top: 28px;
        margin-left: 1%;
    }

    .personalExercise-innerWrapper {
        padding-top: 44px;
    }
    /* Create Exercise Styling End */

}


    /* small devices */
@media only screen and (max-width: 600px) {

    /* Homepage Styling Start */
    header {
        flex-direction: column;
    }

    .head-title {
        float: none;
        font-size: 7vw;
    }

    .options {
        float: none;
        width: 68%;
        font-size: 3vw;
        padding-top: 0;
        padding-left: 18px;
        padding-bottom: 10px;
        flex-wrap: wrap;
    }

    .homepage-text {
        font-size: inherit;
        width: 36vw;
    }

    .fitness-pal-description {
        font-size: 2vw;
    }

    .homepage-signup-btn {
        width: 34vw;
        font-size: 6.8vw;
        margin-right: 70px;
    }

    .flex-row {
        flex: 100%;
        max-width: 100%;
    }

    .section-title {
        font-size: inherit;
        margin-left: 17%;
        width: 78%;
    }

    .workout-grid-container {
        grid-template-columns: 25vw 25vw 25vw;
        grid-gap: 8%;
    }

    .workout-1, 
    .workout-2, 
    .workout-3 {
        font-size: small;
        flex-wrap: wrap;
    }

    footer {
        font-size: x-large;
        padding-left: 39%;
        height: auto;
    }

    main {
        height: 100%;
    }
    /* Homepage Styling End */


    /* Login Styling Start */
    .login-btn {
        width: 17vw;
    }
    /* Login Styling End */


    /* Signup Styling Start */
    .signup-innerWrapper {
        padding-top: 1px;
    }

    .signup-form {
        margin: 49px auto;
    }

    .signup-btn {
        margin: 0 0 40px 93px;
    }
    /* Signup Styling End */


    /* Dashboard Styling Start */
    .user-info {
        padding: 0px 142px 32px;
        margin-left: 91px;
    }

    .buddies {
        height: 40vh;
        margin-left: 91px;
        height: auto;
    }

    .buddy-header {
        margin-left: 116px;
        font-size: 25px;
    }

    .suggested-exercise {
        margin-right: 92px;
        padding-bottom: 38px;
    }

    .stats-chart {
        width: 86vw;
        margin-right: 35px;
        height: auto;
    }

    .completed-workouts {
        width: 76vw;
        margin-left: 75px;
    }
    /* Dashboard Styling End */


    /* Exercise Search Styling Start */
    .search-exercises-btn,
    .cancel-btn {
        font-size: 4vw;
    }

    .search-exercises-btn {
        width: 28%;
        margin: auto auto 15px auto;
    }

    .exercise-search-wrapper {
        padding-top: 73px;
        padding-bottom: 73px;
    }

    .exercise-search-form {
        padding: 28px;
    }
    /* Exercise Search Styling End */

    
    /*Create Exercise Styling Start */
    .create-exercise-link {
        margin-left: 124px;
    }

    .personal-exercises-list {
        margin-left: 0;
        margin-top: 0;
        height: auto;
        padding-top: 10px;
    }

    .created-personal-exercise {
        width: auto;
        margin-top: 28px;
    }

    .personalExercise-innerWrapper {
        padding-top: 44px;
    }
    /* Create Exercise Styling End */
}